<p>{{data}}</p>
<p>{{2+2}}</p>
<p>{{data == "dynamic"}}</p>
<p>{{getValue()}}</p>
<h3 class="common">Commom style</h3>
<h3 class="specific">Specific component style</h3>
<h3 class="priority_style">Internal style > Component style > External or Common style</h3>
<style>
  .priority_style{
    color: brown;
  }
</style>
<app-user-line></app-user-line>
<app-user-list-inline></app-user-list-inline>
<app-login></app-login>
<app-signup></app-signup>

<p><b>Property binding:</b> Works with boolean value</p>

<input type="text" name="user_name" value={{user_name}} disabled={{disabled}}>

<p><b>Interpolation :</b> Works with string and numberic value</p>

<input type="text" name="user_name" [value]=user_name [disabled]="disabled">

<h1> If-else condition </h1>
<h3 *ngIf="show; then ifBlock else elseBlock"></h3>
<ng-template #ifBlock>
  <p>If Condition</p>
</ng-template>
<ng-template #elseBlock>
  <p>Else Condition</p>
</ng-template>



<h1> Mutiple condition or else if  with property binding </h1>
<ng-template [ngIf]="color==='red'">
  <h4 style="color:red"> Red </h4>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <h4 style="color:green"> Green </h4>
</ng-template>


<h1> Switch Case </h1>
<div [ngSwitch]="color">
  <h4 *ngSwitchCase="'green'" style="color:green"> Switch Green </h4>
  <h4 *ngSwitchCase="'red'" style="color:red"> Switch Red </h4>
  <h4 *ngSwitchDefault> Default  </h4>
</div>
